<span data-action="toggle" class="label{{#if this.model.attributes.is_restore}} label-success{{else}} label-warning{{/if}}">
	{{#if this.model.attributes.is_restore}}{{str 'LBL_RESTORED' this.module}}{{else}}{{str 'LBL_NOT_RESTORED' this.module}}{{/if}}
</span>